*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhtw9pPaUYQrH8HYjpRj9BpzJ9O5cbxk6u-Aiw8nwww-l2f77HSUreLoQUPygWN-svYIq7PS2u8qmzXMUHA3_SOU4P_kS4Nj4dA41kHvzvNQ4KsaLpkYblUfb1s3BCodTcMmZn2jGvrUgNnT5I8swdlJsBvnOcD1nfhTNUP7OA1brYpWo6l79APqU9xiw/s16000/background.jpg);
    background-size:cover;
    background-position:center ;
}

.navbar{
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.navbar .logo{
    width: 120px;
    cursor:pointer;
}

.navbar ul li{
    list-style:none;
    display:inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration:none;
    color:#fff;
    text-transform:uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #6daca5;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;

}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: rotateY(-50%);
    text-align:center ;
    color:rgb(255, 255, 255);
}

.content h1{
    font-size: 60px;
}
.content p{ 
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fdfdfd;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn1 a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}